<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhstack.myblog.oauth.dao.PermissionMapper">
    <select id="findByIdPermissions" resultType="com.lhstack.myblog.model.ucenter.BlogPermission">
        SELECT * FROM blog_user_permission WHERE role_id = #{id}
    </select>
</mapper>